/* VARIABLES */
$body-background-color: #000000;
$body-text-color: #ffffff;
$masthead-hashtag-colour-one: #ffffff;
$masthead-hashtag-colour-two: #feba12;


/* APP */
body {
	background-color: $body-background-color;
	color: $body-text-color;
}

.masthead {
	width: 100%;
	position: relative;
	height: 300px;
}

.masthead__smoke,
.masthead__optimus-prime {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
}

.masthead__optimus-prime {
	background-image: url('../images/optimus-prime.png');
	background-position: right top;
	background-repeat: no-repeat;
}

.masthead__smoke {
	background-image: url('../images/smoke-01.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.masthead__title {
	font-family: 'impact', sans-serif;
	font-size: 1em;
}

.masthead__hashtag {
	font-family: 'impact', sans-serif;
	font-weight: 300;
}

.masthead__hashtag--colour-one {
	color: $masthead-hashtag-colour-one;
}

.masthead__hashtag--colour-two {
	color: $masthead-hashtag-colour-two;
}

.trailer__video {
	width: 100%;
	max-width: 100%;
}
